<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="at.xirado.tuner.log.ConsoleAppenderLayout"/>
        </encoder>
    </appender>

    <appender name="Discord" class="at.xirado.tuner.log.DiscordWebhookAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Discord" />
    </root>
</configuration>